<div class="product-list-container">
    <h2>Productos</h2>

    <div class="actions">
        <a routerLink="/products/new" class="new-product-btn">Añadir nuevo producto</a>
    </div>

    <div *ngIf="loading" class="loading">Cargando Productos...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <div *ngIf="!loading && products.length === 0" class="no-products">
        No Existen productos, añadir uno para comenzar.
    </div>

    <table *ngIf="products.length > 0" class="products-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>${{ product.price.toFixed(2) }}</td>
            <td class="actions-cell">
                <button (click)="viewProduct(product.id!)" class="view-btn">Ver</button>
                <button (click)="editProduct(product.id!)" class="edit-btn">Editar</button>
                <button (click)="deleteProduct(product.id!)" class="delete-btn">Borrar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>