<!-- File: frontend/src/app/components/product-form/product-form.component.html -->
<div *ngIf="loading" class="loading">Cargando...</div>
<div *ngIf="error" class="alert-danger">{{ error }}</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label>Nombre</label>
    <input formControlName="name">
    <div *ngIf="submitted && f.name.errors">El nombre es requerido (min 2 chars).</div>

    <label>Descripcion</label>
    <textarea formControlName="description"></textarea>
    <div *ngIf="submitted && f.description.errors">La descripcion es requerida.</div>
    <label>Precio</label>
    <input type="number" formControlName="price">
    <div *ngIf="submitted && f.price.errors">El precio debe ser ≥ 0.01.</div>

    <button type="submit">{{ isEditMode ? 'Update' : 'Create' }} Producto</button>
</form>
